/* Start Variables */
:root {
    --main-color: #19c8fa;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #a3a2a2;
    --main-duration: 0.5s;
    
  }
  /* End Variables */
  *{
    box-sizing: border-box;
    font-family: 'Josefin Sans ',sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
}
body{
    background-color: #ececec;
}
.heading{
 background-color: var(--main-color);
 padding: 75px 0px;
 margin-bottom: 20px;
}
.heading h1{
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:white;
}
.contener{
    width: 1280px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    gap: 35px;
}
@media(max-width:1200px){
    .contener{
        width: 1000px;
    }
}
@media(max-width:1024px){
    .contener{
        width: 700px;
    }
}
@media(max-width:768px){
    .contener{
        width: 100%;
    }
}
.box{
    height: 420px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0,12%);
    gap:17.5px;
    transition: transform 0.5s;
}
.box:hover{
    transform: translateY(-10px);
}
.box img{
    width: 100%;

}
.box img :hover{
    cursor: pointer;
    opacity: 0.9s;

}
.box h2{
    font-size: 20px;
}
.box p{
    padding: 0 20px;
    font-size: 12.5px;
    line-height: 1.35;
    color: var(--secondary-color);
}
.box span{
    font-weight: 800;
    font-size: 18px;
}
.box .rate{
    color: #ffb90b;
    font-size: 12px;
}
.box .options{
    margin-bottom: 25px;
}
.box .options a{
    color: white;
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius:50px ;
}
.box .options a:hover{
    background-color: #0a0707;
    color: crimson;
}
footer .pat a{
    color: white;
    background-color: rgb(245, 1, 123);
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border-radius:50px ;
}
footer .pat a:hover{
    background-color: #0a0707;
    color: crimson;
}

 